@font-face {
  font-family: "amatic";
  src: url('../fonts/amatic.tff');
}

@font-face {
  font-family: "amatic-bold";
  src: url('../fonts/amatic-bold.tff');
}

html, body {
  height: 90%;
  margin: 2.5%;
  padding: 0;
  width: 95%;
}

body {
  display: table;
}

.centreText {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.fadein {
  -webkit-animation: fadein 2s;
  -webkit-animation-fill-mode: forwards;
}

.fadeout {
  -webkit-animation: fadeout 10s;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes fadein {
    0% { opacity: 0; }
    70% { opacity: 1; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeout {
    0% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}

.message {
  font-family: 'amatic-bold';
  font-size: 1000%;
}

.paragraph {
  font-family: 'amatic-bold';
  font-size: 500%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  width: 120px;
  bottom: 100%;
  left: 55%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}